*{
    margin: 0;
    padding: 0;
}

/* Home Style */
.homeFirstDiv{
    background-image: url(../images/jpeg/banner.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    padding-left: 60px;
    padding-right: 60px;
    padding-left: 70px;
    height: 600px;
    display: flex;
    align-items: center;
}

/* Navbar logo style */
.navLogoButton{
    height: 40px;
    width: 130px;
    font-weight: bold;
    margin-right: 10px;
    outline: none;
    border-width: 0;
    background-color: #1976D2;
    color: white;
    border-radius: 10px;
}

.NavBarLogo{
    list-style: none;

}

.atagLogo{
    color: #000000;
    font-weight: 700;
    text-decoration: none;
}

.atagLogo:hover{
    color: #1976D2;
    transition: 2s;
}

.navLogoButton:hover{
    transition: 2s;
    cursor: pointer;
    background-color: black;
    color: white;
}

/* Navbar contact style */
.navBarContact{
    padding-left: 50px;
    padding-right: 50px;
    display: flex;
    justify-content: space-between;
    font-family: 'Times New Roman', Times, serif;
    height: 60px;
}

.atag{
    color: #ffffff;
    font-weight: 700;
    text-decoration: none;
}

.atag:hover {
    color: #000000;
    transition: 2s;
}

.navBarLogin{
    list-style: none;
    gap: 1rem;
}
/* Home page style */
.home{
    margin-bottom: 80px; 
    font-family: 'Times New Roman', Times, serif
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #1976D2;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 0;
  }

  .dropdown-content a {
    color: #ffffff;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
  }

  /* Change color of dropdown links on hover */
.dropdown-content a:hover {background-color: black;}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {display: block; transition: 2s;}

/* Change the background color of the dropdown button when the dropdown content is shown */
.dropdown:hover .dropbtn {background-color: #3e8e41;}

