*{
    margin: 0;
    padding: 0;
}

/* Home Style */
.homeFirstDiv{
    background-image: url(../images/jpeg/banner.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    padding-left: 60px;
    padding-right: 60px;
    padding-left: 70px;
    height: 600px;
    display: flex;
    align-items: center;
}

/* Navbar logo style */
.navLogoButton{
    height: 40px;
    width: 130px;
    font-weight: bold;
    margin-right: 10px;
    outline: none;
    border-width: 0;
    background-color: #1976D2;
    color: white;
    border-radius: 10px;
}

.NavBarLogo{
    list-style: none;

}

.atagLogo{
    color: #000000;
    font-weight: 700;
    text-decoration: none;
}

.atagLogo:hover{
    color: #1976D2;
    transition: 2s;
}

.navLogoButton:hover{
    transition: 2s;
    cursor: pointer;
    background-color: black;
    color: white;
}

/* Navbar contact style */
.navBarContact{
    padding-left: 50px;
    padding-right: 50px;
    display: flex;
    justify-content: space-between;
    font-family: 'Times New Roman', Times, serif;
    height: 60px;
}

.atag{
    color: #ffffff;
    font-weight: 700;
    text-decoration: none;
}

.atag:hover {
    color: #000000;
    transition: 2s;
}

.navBarLogin{
    list-style: none;
    gap: 1rem;
}
/* Home page style */
.home{
    margin-bottom: 80px; 
    font-family: 'Times New Roman', Times, serif
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #1976D2;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 0;
  }

  .dropdown-content a {
    color: #ffffff;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
  }

  /* Change color of dropdown links on hover */
.dropdown-content a:hover {background-color: black;}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {display: block; transition: 2s;}

/* Change the background color of the dropdown button when the dropdown content is shown */
.dropdown:hover .dropbtn {background-color: #3e8e41;}


.coursesFirstDiv{
    background-image: url(../images/jpeg/banner.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    padding-left: 60px;
    padding-right: 20px;
    padding-left: 70px;
    height: 400px;
    display: flex;
    align-items: center;
}
.star {
    visibility:hidden;
    font-size:30px;
    cursor:pointer;
}
.star:before {
   content: "\2605";
   position: absolute;
   visibility:visible;
}
.star:checked:before {
   content: "\2606";
   position: absolute;
}

/* Courses style */
.coursesImageDiv {
    width: 460px;
    height: 320px;
    margin-right: 20px;
}

.courseState{
    background-color: red;
    width: 30px;
    color: white;
    padding-left: 10px;
    padding-right: 10px;
}

.coursesImage{
    width: 100%;
    height: 90%;
}

.coursesReview{
    display: flex;
    align-items: "center";
    justify-content: "space-between";
    margin-Top: 10px;
    margin-bottom: 10px;
    padding-left: 10px;
    padding-right: 10px
}

.courseTitlePrice{
    padding-left: 10px;
    padding-right: 10px;
}

.coursesSecondDiv{
    margin-top: 30px;
    display: flex;
    align-items: "center";
    margin-left: 180px;
    margin-right: 70px;
    font-size: 18px;
    background-color: #ffffff;
    margin-bottom: 65px;
}

.getSartedContainer{
    width: 350px; 
    margin-right: 60px;
}

.h2{
    margin-bottom: 5px;
}

.p1{
    margin-bottom: 15px; 
    color: #626566;
}

.h5{
    color: #1976D2; 
    font-size: 16px;
}

.knowledgeCity{
    margin-left: 100px;
    color: #1976D2;
    margin-bottom: 38px;
}

.coursesHeading{
    text-align: center;
    font-size: 30px;
    margin-bottom: 30px;
    margin-top: 50px
}

.imagesContainer{
    overflow-x: scroll;
    display: flex;
    margin-left: 200px; 
    margin-right: 200px;
}

.kiddiesContainer{
    overflow-x: scroll;
    display: flex;
    margin-left: 200px; 
    margin-right: 200px;
    margin-bottom: 60px;
}



/* Footer styles */

.footer{
    background-color: #000000;
    padding-top: 10px;
    padding-bottom: 5px; 
    height: 300px;
}

.learnDiv{
    padding-left: 60px;
    margin-top: 15px;
    margin-bottom: 20px;
}

.learnParagraph{
    color: #ffffff;
}

.columnsContainer{
    display: flex;
    align-items: 'center';
     justify-content: space-between; 
     padding-left: 95px; 
     padding-right: 70px;
}

.firstColumn{
    align-items: centre; 
    width: 130px
}
.footerHeadings{
    color: #1976D2;
    margin-bottom: 15px;
}

.secondColumn{
    align-items: centre; 
    width: 180px
}

.thirdColumn{
    align-items: centre; 
    width: 150px
}

.columnParagraph{
    color: #ffffff;
    font-size: 16px;
}

.lastParagraph{
    color: #ffffff;
    margin-bottom: 20px;
    margin-top: 20px;
    font-size: 18px;
}

.formControl{
    height: 40px; 
    width: 470px;
}

.subscribeBtn{
    height: 50px;
    width: 250px;
    background-color: #1976D2;
    color: #ffffff;
    border-color: #1976D2;
    margin-top: 20px;
    font-size: 18px;
}

/* footer copyright */

.footerCopy{
    display: flex;
    align-items: center;
     justify-content: space-between;
      padding-top: 10px;
      height: 40px;
      padding-bottom: 20px;
}

.leftDiv{
    margin-left: 20px;
    font-weight: bold;
}

.rightDiv{
    display: flex; 
    align-items: centre;
    color: #1976D2; 
    font-weight: bold; 
    margin-right: 20px;
}

.developers{
    padding-right: 20px
}

/* BOOKS PAGE style */

.booksFirstDiv{
    background-image: url(../images/jpeg/banner.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    padding-left: 60px;
    padding-right: 60px;
    height: 400px;
    align-items: center;
    padding-top: 130px;
    
}

.getLatestDiv{
    color: #ffffff;
    font-size: 20px;
    width: 750px;
    margin-left: 50px;
}

.registerBtn{
    height: 50px;
    width: 230px;
    background-color: #1976D2;
    color: #ffffff;
    border-color: #1976D2;
    margin-top: 20px;
    font-size: 16px;
    cursor: pointer;
}

.recentBooksDiv{
    text-align: center;
    font-family:Arial, Helvetica, sans-serif;
    margin-bottom: 10px;
}

.recentBooks{
    font-size: 40px;
    margin-bottom: 15px;
}

.recentParagraph{
    font-size: 16px;
}

.imagesDiv{
    display: flex;
    width: 300px;
    margin-left: 50px;
    margin-right: 50px;
}

.newBooksDiv{
    text-align: center;
    font-family:Arial, Helvetica, sans-serif;
    margin-bottom: 10px;
    margin-top: 80px;
}

.newBooks{
    font-size: 40px;
    margin-bottom: 15px;
}

.newParagraph{
    font-size: 16px;
}

.readMoreBtn{
    height: 50px;
    width: 140px;
    background-color: #000000;
    color: #ffffff;
    border-color: #000000;
    margin-top: 20px;
    font-size: 16px;
    margin-left: 50px;
    cursor: pointer;
}


.businessBookLeft{
   height: 280px;
   margin-left:  40px;
   margin-top: 100px;
   margin-bottom: 80px
}

.businessBookRight{
    height: 280px;
    margin-right: 40px;
    margin-top: 100px;
    margin-bottom: 80px; 
}

.businessBookMid{
    height: 280px;
    margin-left: 20px;
    margin-top: 110px;
    margin-bottom: 80px
}

.makeAwesomeLeft{
    width: 200px;
    font-size: 20px;
    margin-left: 150px
}


.makeAwesomeMid{
    width: 200px;
    font-size: 20px;
    margin-left: 150px
}


.makeAwesomeRight{
    width: 200px;
    font-size: 20px;
    margin-left: 150px
}


.babyStepsMid{
    margin-right: 15px;
}

.imagesDivThree{
    display: flex; 
    margin-left: 50px;
    margin-right: 50px;
}

.imagesDivFour{
    display: flex;
    margin-left: 60px;
}

.newBooksDetails{
    display: flex;
    margin-left: 60px;
    margin-bottom: 20px;
}

.newbooksDate{
    width: 450px;
    font-size: 18px;
    margin-left: 50px;
    margin-bottom: 15px;
}

.newbooksFirstParagraph{
    width: 350px;
    font-size: 30px;
    margin-left: 50px;
    margin-bottom: 15px;
}

.newbooksSecondParagraph{
    width: 400px;
    font-size: 18px;
    margin-left: 50px;
    margin-bottom: 20px;
}

.newBooksDetailsTwo{
    display: flex;
    margin-left: 60px;
    margin-bottom: 70px;
}


           /* ARTCICLES PAGE STYLES */

.articlesPage{
    margin-bottom: 30px;
}

.articlesFirstDiv{
    background-image: url(../images/jpeg/banner.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    padding-left: 60px;
    padding-right: 60px;
    height: 400px;
    align-items: center;
    padding-top: 130px;
}

.recentArticlesHeading{
    margin-left: 100px;
    color: #1976D2;
    margin-bottom: 40px;
}

.recentArticlesDiv{
    display: flex;
    margin-left: 140px;
    margin-right: 140px;
}

.articlesLeftDiv{
    width: 70%;
    margin-top: 10px;
}

.articlesRightDiv{
    margin-left: 35px;
}

.firstAdminImage{
    width: 830px;
    height: 435px;
}

.adminBtn{
    display: flex;
    align-items: center;
    width: 410px;
    height: 55px;
    background-color: #1976D2;
    color: #ffffff;
    border-color: #1976D2;
    font-size: 17px;
    margin-bottom: 20px;
    border-radius: 25px;
    padding-left: 15px;
    padding-right: 15px;
    margin-left: 250px;
}


.personAdmin{
    align-items: center;
    margin-right: 15px;
}

.calenderAdmin{
    align-items: center;
    margin-right: 15px;
}

.whyShould{
    font-size: 26px;
    color: #1976D2;
}

.paragraph{
    font-size: 20px;
    margin-bottom: 15px;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.readMoreBtnarticles{
    height: 50px;
    width: 225px;
    background-color: #1976D2;
    color: #ffffff;
    border-color: #1976D2;
    margin-top: 20px;
    font-size: 16px;
    margin-bottom: 60px;
    cursor: pointer;
}


.categoryHeading{
    font-size: 35px;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.categoryBtnDiv{
    margin-left: 40px;
}

.categoryBtns{
    height: 40px;
    width: 270px;
    border-radius: 25px;
    background-color: #1976D2;
    color: #ffffff;
    border-color: #1976D2;
    display: flex;
    padding-left: 15px;
    padding-right: 15px;
    align-items: center;
    justify-content: space-between;
    font-size: 16px;
    margin-top: 15px;
    margin-bottom: 15px;
}

.categoryAnchor{
    color: #ffffff;
}

.popularArticleHeading{
    font-size: 35px;
    margin-top: 95px;
    margin-bottom: 40px;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.popularArticleDiv{
    margin-bottom: 70px;
}

.popularArticleImage{
    width: 320px;
    height: 150px;
    margin-left: 35px;
}

.popularArticleBtn{
    height: 40px;
    width: 280px;
    background-color: #1976D2;
    color: #ffffff;
    border-color: #1976D2;
    display: flex;
    padding-left: 10px;
    padding-right: 10px;
    align-items: center;
    justify-content: space-between;
    font-size: 16px;
    margin-bottom: 20px;
    margin-left: 25px;
}

.popularArticleParagraph{
    font-size: 18px;
    margin-left: 35px;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    color: #1976D2;
}

.popularTagHeading{
    font-size: 35px;
    margin-top: 120px;
    margin-bottom: 20px;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.popularTagDiv{
    margin-left: 15px;
}

.firstButtonrow{
    margin-bottom: 10px;
}

.softwareTagBtn{
    width: 100px;
    height: 40px;
    border-radius: 25px;
    background-color: #1976D2;
    color: #ffffff;
    border-color: #1976D2;
    font-size: 16px;
    margin-right: 20px;
}

.technologyTagBtn{
    width: 130px;
    height: 40px;
    border-radius: 25px;
    background-color: #1976D2;
    color: #ffffff;
    border-color: #1976D2;
    font-size: 16px;
    margin-right: 20px;
}

.travelTagBtn{
    width: 85px;
    height: 40px;
    border-radius: 25px;
    background-color: #1976D2;
    color: #ffffff;
    border-color: #1976D2;
    font-size: 16px;
}

.secondButtonrow{
    margin-bottom: 10px;
}

.illustrationTagBtn{
    width: 125px;
    height: 40px;
    border-radius: 25px;
    background-color: #1976D2;
    color: #ffffff;
    border-color: #1976D2;
    font-size: 16px;
    margin-right: 20px;
}

.designTagBtn{
    width: 85px;
    height: 40px;
    border-radius: 25px;
    background-color: #1976D2;
    color: #ffffff;
    border-color: #1976D2;
    font-size: 16px;
    margin-right: 20px;
}

.lifestyleTagBtn{
    width: 100px;
    height: 40px;
    border-radius: 25px;
    background-color: #1976D2;
    color: #ffffff;
    border-color: #1976D2;
    font-size: 16px;
}

.loveTagBtn{
    width: 70px;
    height: 40px;
    border-radius: 25px;
    background-color: #1976D2;
    color: #ffffff;
    border-color: #1976D2;
    font-size: 16px;
    margin-right: 20px;
}

.projectTagBtn{
    width: 85px;
    height: 40px;
    border-radius: 25px;
    background-color: #1976D2;
    color: #ffffff;
    border-color: #1976D2;
    font-size: 16px;
}

                                /* GET STARTED PAGE STARTS HERE */


.getStartedPage{
    margin-bottom: 40px;
}

.getstartedFirstDiv{
    background-image: url(../images/jpeg/banner.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    padding-left: 60px;
    padding-right: 60px;
    height: 400px;
    align-items: center;
    padding-top: 130px;
}

.getStartedHeading{
    margin-left: 100px;
    color: #1976D2;
    margin-bottom: 50px;
}

.getStartedBodyDiv{
    margin-left: 140px;
    margin-right: 140px;
}

.bodyDivOne{
    display: flex;
    margin-bottom: 80px;
}

.loginImageDiv{
    margin-right: 70px;
}

.loginImage{
    width: 400px;
    height: 390px;
}

.createAccountParagraph{
    font-size: 20px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.createAccountBtn{
    height: 50px;
    width: 230px;
    background-color: #1976D2;
    color: #ffffff;
    border-color: #1976D2;
    margin-top: 20px;
    font-size: 16px;
    cursor: pointer;
}

.bodyDivTwo{
    display: flex;
    margin-bottom: 80px;
}

.chooseCoursesDiv{
    margin-right: 70px;
}

.chooseCoursesImage{
    width: 400px;
    height: 390px;
}

.bodyDivThree{
    display: flex;
    margin-bottom: 90px;
}

.certificateImageDiv{
    margin-right: 70px;
}

.certificateImage{
    width: 400px;
    height: 390px;
}

.getCertifiedBtn{
    height: 50px;
    width: 230px;
    background-color: #1976D2;
    color: #ffffff;
    border-color: #1976D2;
    margin-top: 20px;
    font-size: 16px;
    cursor: pointer;
}

.knowledgeCityAfricans{
    font-size: 38px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}


/* ABOUT PAGE STYLE STARTS HERE */

.aboutPage{
    margin-bottom: 100px;
}

.aboutFirstDiv{
    background-image: url(../images/jpeg/banner.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    padding-left: 60px;
    padding-right: 60px;
    height: 400px;
    align-items: center;
    padding-top: 130px;
}

.aboutHeading{
    margin-left: 100px;
    color: #1976D2;
}

.aboutBodyDiv{
    margin-left: 140px;
    margin-right: 140px;
    margin-top: 40px;
}

.aboutThemeHeading{
    margin-left: 160px;
    margin-right: 160px;
}

.themeDiv{
    display: flex;
    margin-top: 40px;
    margin-bottom: 70px;
}

.themeLeftDiv{
    margin-right: 40px;
}

.themeLeftDivTopImage{
    width: 240px;
    margin-bottom: 20px;
    border-radius: 10px;
}

.themeLeftDivBottomImage{
    width: 380px;
    border-radius: 10px;
}

.themeMiddleDiv{
    margin-right: 40px;
}

.themeMiddleImage{
    height: 470px;
    width: 400px;
    border-radius: 10px;
}

.themeRightDivTopImage{
    width: 380px;
    margin-bottom: 20px;
    border-radius: 10px;
}

.themeRightDivBottomImage{
    width: 240px;
    border-radius: 10px;
}

.aboutPortalHeading{
    font-size: 30px;
    margin-bottom: 10px;
}

.aboutPortalParagraph{
    font-size: 18px;
}

.aboutPageMiddleDiv{
    margin-top: 40px;
    display: flex;
    margin-bottom: 80px;
}

.aboutPageMiddleDivLeft{
    margin-right: 40px;
}

.aboutPageMiddleDivRight{
    margin-top: 40px;
}

.heading35000{
    margin-bottom: 20px;
}

.aboutPageMiddleDivRightFirstParagraph{
    margin-bottom: 20px;
    font-size: 18px;
}

.aboutPageMiddleDivRightSecondParagraph{
    margin-bottom: 20px;
    font-size: 18px;
}

.firstListParagraph{
    font-size: 18px;
    margin-bottom: 5px;
}

.secondListParagraph{
    font-size: 18px;
    margin-bottom: 5px;
}

.thirdListParagraph{
    font-size: 18px;
    margin-bottom: 5px;
}

.fourthListParagraph{
    font-size: 18px;
    margin-bottom: 5px;
}

.awardsMeetButtonDiv{
    display: flex;
    margin-bottom: 40px;
}

.awardsHeadings{
    font-size: 30px;
    margin-right: 200px;
}

.meetHeadings{
    font-size: 30px;
    margin-right: 470px;
}

.joinTeamBtn{
    width: 130px;
    font-weight: 800;
    border-radius: 5px;
    color: #ffffff;
    background-color: #1976D2;
    border-color: #1976D2;
    cursor: pointer;
}

.awardYear{
    margin-right: 10px;
}

.award2015{
    margin-bottom: 15px;
}

.award2016{
    margin-bottom: 15px;
}

.award2017{
    margin-bottom: 15px;
}

.award2018{
    margin-bottom: 15px;
}

.award2019{
    margin-bottom: 15px;
}

.award2020{
    margin-bottom: 15px;
}


.awardYearAndTeamDiv{
    display: flex;
}

.awardYearandTitle{
    font-size: 18px;
    margin-right: 90px;
}

.teamMembersAndDetailsDiv{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 35px;
    font-size: 18px;
}

.firstTeamMemberDetails{
    margin-right: 120px;
}

.secondTeamMemberDetails{
    margin-right: 120px;
}

.thirdTeamMemberDetails{
    margin-right: 120px;
}

.teamFirstImages{
    width: 100px;
    height: 100px;
    border-radius: 1000px;
    margin-left: 10px;
}

.teamSecondImages{
    width: 100px;
    height: 100px;
    border-radius: 1000px;
    margin-left: 10px;
}

.teamThirdImages{
    width: 100px;
    height: 100px;
    border-radius: 1000px;
    margin-left: 5px;
}

.teamFourthImages{
    width: 100px;
    height: 100px;
    border-radius: 1000px;
    margin-left: 5px;
}

.teamMemberName{
    margin-left: 10px;
    margin-top: 5px;
    margin-bottom: 5px;
}

.teamMemberJob{
    margin-left: 15px;
    margin-bottom: 5px;
}

.teamMemberStars{
    margin-left: 10px;
}


                /* CONTACT US PAGE STYLES */

.contactUsPage{
    margin-bottom: 100px;
}

.contactUsHeading{
    margin-top: 40px;
    margin-bottom: 20px;
    text-align: center;
}

.contactUsBodyDiv{
    margin-left: 140px;
    margin-right: 140px;
}

.contactsDiv{
    margin-bottom: 20px;
    background-color: #ffffff;
    display: flex;
}

.customerSupport{
    padding-left: 15px;
    padding-right: 15px;
    padding-top: 40px;
    width: 350px;
    height: 190px;
    margin-top: 40px;
    background-color: #1976D2;
    border-radius: 5px;
    margin-right: 60px;
}

.customerSupportHeading{
    color: #ffffff;
    margin-bottom: 15px;
    margin-left: 90px;
}

.customerSupportLocation{
    display: flex;
    align-items: center;
    color: #ffffff;
    margin-bottom: 10px;
}

.customerSupportPhoneNumber{
    display: flex;
    align-items: center;
    color: #ffffff;
    margin-bottom: 10px;
    margin-left: 95px;
}

.customerSupportEmailAddress{
    display: flex;
    align-items: center;
    color: #ffffff;
    margin-left: 85px;
}

.customerSupportParagraph{
    margin-left: 10px;
}


.contactAddress{
    padding-left: 15px;
    padding-right: 15px;
    padding-top: 40px;
    width: 350px;
    height: 190px;
    margin-top: 40px;
    background-color: #f2f2f2;
    border-radius: 5px;
    margin-right: 60px;
}

.contactAddressHeading{
    color: #000000;
    margin-bottom: 15px;
    margin-left: 90px;
}

.contactAddressLocation{
    display: flex;
    align-items: center;
    color: #000000;
    margin-bottom: 10px;
}

.contactAddressPhoneNumber{
    display: flex;
    align-items: center;
    color: #1976D2;
    margin-bottom: 10px;
    margin-left: 90px;
}

.contactAddressEmailAddress{
    display: flex;
    align-items: center;
    color: #000000;
    margin-left: 65px;
}

.contactAddressParagraph{
    margin-left: 10px;
    font-size: 16px;
    font-weight: 500;
}


.mainOffice{
    padding-left: 15px;
    padding-right: 15px;
    padding-top: 40px;
    width: 350px;
    height: 190px;
    margin-top: 40px;
    background-color: #f2f2f2;
    border-radius: 5px;
}

.mainOfficeHeading{
    color: #000000;
    margin-bottom: 15px;
    margin-left: 90px;
}

.mainOfficeLocation{
    display: flex;
    align-items: center;
    color: #000000;
    margin-left: 55px;
    margin-bottom: 10px;
}

.mainOfficePhoneNumber{
    display: flex;
    align-items: center;
    color: #000000;
    margin-bottom: 10px;
    margin-left: 105px;
}

.mainOfficeEmailAddress{
    display: flex;
    align-items: center;
    color: #000000;
    margin-left: 85px;
}

.mainOfficeParagraph{
    margin-left: 10px;
    font-size: 16px;
    font-weight: 500;
}

.contactsLastDiv{
    display: flex;
    margin-top: 70px;
}

.contactsLastDivLeft{
    margin-right: 130px;
    margin-top: 70px;
}

.letsTalkImage{
    width: 400px;
}

.followAndMediaHandles{
    display: flex;
    align-items: center;
    margin-top: 20px;
}

.facebookLogo{
    width: 35px;
    margin-left: 10px;
    margin-right: 15px;
}

.instagramLogo{
    width: 40px;
    margin-right: 15px;
}

.TwitterLogo{
    width: 40px;
    margin-right: 15px;
}

.linkedinLogo{
    width: 40px;
    margin-right: 15px;
}

.pinterestLogo{
    width: 40px;
}

.letsTalkFormControl{
    height: 40px;
    width: 730px;
    margin-top: 10px;
    margin-bottom: 20px;
    background-color: #F1EDF2;
    border: none;
}

.letsTalkHeading{
    margin-bottom: 15px;
}

.letsTalkParagraph{
    margin-bottom: 15px;
}

.letsTalkMessageFormControl{
    height: 55px;
    width: 730px;
    margin-top: 10px;
    background-color: #F1EDF2;
    border: none;
}

.sendMessage{
    width: 734px;
    height: 45px;
    color: #ffffff;
    background-color: #1976D2;
    border-color:#1976D2;
    border-radius: 2px;
    margin-top: 15px;
    font-size: 18px;
}